* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: blue;
}

body {
    align-items: center;
}

main {
    margin: 0;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    animation: fade 15 s;
    align-items: center;

}

@heyframe, fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}