* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #29010c;
}

header,
nav {
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    text-decoration: underline;
    color: #800000;
}

nav {
    background-color: #800000;
    margin: 0 auto;

}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color: #DAF7A6;
}

header span {
    color: #fff;

}

h1 {
    text-align: center;
}

.parent {
    margin: 1rem 2vw;
}

.parent section {
    border: 1px solid #ec7373;
    background-color: #FFFF;
    border-radius: 10px;
    margin: 1rem 0;
}

main {
    height: 100%;
}

.parent h2 {
    background-color: #C0C0C0;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}

section ul {
    list-style-type: none;
}

span {
    background-color: #800000;

}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

button {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

button {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 700;
}

label {
    color: navy;
    font-size: 16px;
}

input:focus,
textarea:focus {
    outline: none;
}

input::placeholder {
    font-size: 13px;
}

footer {
    background-color: #feeaea;
    padding: 2rem;
    margin: 0;
    text-align: center;
    color: #220000;
}