* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #581845;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #C70039;
}

header,
nav {
    margin: 0 auto;
}


nav {
    background-color: #C70039;
    margin: 0 auto;

}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color: #DAF7A6;
}

header span {
    color: #fff;

}

h1 {
    font-size: 2rem;
    border-bottom: 1px solid #030442;
}

.parent {
    margin: 1rem 2vw;
}

.parent section {
    border: 1px solid #C70039;
    background-color: #DAF7A6;
    border-radius: 10px;
    margin: 1rem 0;
}

.parent h2 {
    background-color: #581845;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}

section ul {
    list-style-type: none;
}

footer {
    background-color: #581845;
    padding: 2rem;
    margin: 0;
    text-align: center;
    color: #DAF7A6;
}