* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #3f072a;
}

header,
nav {
    margin: 0 auto;
}


nav {
    background-color: #3f072a;
    margin: 0 auto;

}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.active {

    color: #DAF7A6;
}

header span {
    color: blueviolet;

}

h1 {
    font-size: 2rem;
    border-bottom: 1px solid #030442;
}

.parent {
    margin: 1rem 2vw;
}

.parent section {
    border: 1px solid #030442;
    background-color: #fafafa;
    border-radius: 10px;
    margin: 1rem 0;
}

.parent h2 {
    background-color: #581845;
    color: #fff;
    display: block;
    text-align: center;
    padding: .75rem 0;
}

.parent p {
    padding: 10px;
}

section ul {
    list-style-type: none;
}

/*main {
    max-width: 500px;
    margin: 0 auto;
}*/

.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
}

footer {
    background-color: white;
    padding: 2rem;
    margin: 0;
    text-align: center;
    color: blueviolet;
}